img {
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.selected{
background-color: red;
color: white;
padding: 10px;
}
.unSelected{
background-color: white;
padding: 10px;
}
.blue{
  color: blue;
}

